In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# このセルの内容は、理解できなくても大丈夫です。
# ただサンプルになるデータを作りたいだけですので、出来たデータをどのような加工するかに注目してください。

import pandas.util.testing as tm
tm.N = 3

# ちょっとした関数を作ります。
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

# DataFrameを作ります。
dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
tm.makeTimeDataFrame()

                   A         B         C         D
2000-01-03 -0.231122  0.037654  1.321827 -0.861648
2000-01-04  0.913852  0.879757 -0.965378  1.081136
2000-01-05  0.117455 -1.555191 -2.028499  0.973827

In [4]:
# 入れ子に重なったデータができます。
dframe

         date variable     value
0  2000-01-03        A -0.605743
1  2000-01-04        A  1.134506
2  2000-01-05        A -0.871576
3  2000-01-03        B -0.225581
4  2000-01-04        B -1.831612
5  2000-01-05        B -0.375155
6  2000-01-03        C -0.266498
7  2000-01-04        C  1.388724
8  2000-01-05        C -0.826502
9  2000-01-03        D -0.242419
10 2000-01-04        D  1.138343
11 2000-01-05        D  0.564802

In [8]:
# 行にdate, 列にvariable、これをvalueで埋めます。
dframe_piv = dframe.pivot('date','variable','value')
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.371856 -0.190302  0.775493 -0.752959
2000-01-04 -1.264502 -0.087889 -1.891424 -0.633191
2000-01-05 -0.226155 -0.874027 -0.145581  1.391104

In [5]:
# pivot_table函数を使ってもOKです。
dframe_piv2 = dframe.pivot_table(index = 'date',
                                 values = 'value',
                                 columns = 'variable')
dframe_piv2

variable           A         B         C         D
date
2000-01-03 -0.605743 -0.225581 -0.266498 -0.242419
2000-01-04  1.134506 -1.831612  1.388724  1.138343
2000-01-05 -0.871576 -0.375155 -0.826502  0.564802