In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe = DataFrame(np.arange(4 * 4).reshape((4, 4)))
# 0,1,2,3をpermutateしたarrayを取得します。

dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
blender = np.random.permutation(4)
blender

array([2, 3, 0, 1])

In [11]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
# blenderをベースにして、行を入れ替えます
dframe.take(blender)

    0   1   2   3
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7

In [ ]:
# データを採りだして逐一戻す場合を考えてみましょう。

In [15]:
# 箱の中に、A,B,C というラベルの付いたビー玉があるとします。
box = np.array(['A','B','C'])

In [16]:
box

array(['A', 'B', 'C'],
      dtype='<U1')

In [18]:
# ランダムにビー玉を取り出す操作を10回やってみましょう。
shaker = np.random.randint(0, len(box), size = 10)
shaker

array([1, 0, 1, 2, 0, 0, 2, 1, 0, 2])

In [19]:
# 実際にはこのように使えます。
hand_grabs = box.take(shaker)
hand_grabs

array(['B', 'A', 'B', 'C', 'A', 'A', 'C', 'B', 'A', 'C'],
      dtype='<U1')