In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# NFLのデータをサンプルとして使います。
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [14]:
# クリップボードから読み込むことが可能です。
nfl_frame = pd.read_clipboard()

In [15]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts[c],502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,NFC West
16,17,Cleveland Browns,462,466,10,0.498,1950,938,AFC North
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,AFC West
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",NFC West
19,20,Carolina Panthers,172,179,1,0.490,1995,352,NFC South
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",NFC East
21,22,Tennessee Titans,413,449,6,0.479,1960,868,AFC South
22,23,Buffalo Bills,400,460,8,0.465,1960,868,AFC East
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NFC North
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,AFC North
25,26,New York Jets,392,468,8,0.456,1960,868,AFC East
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NFC South
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,866,NFC South

In [17]:
# 列（カラム）の名前が.columnsでわかります。
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [18]:
nfl_frame['First NFL Season']

0     1960
1     1921
2     1920
3     1966
4     1960
5     1925
6     1960
7     1961
8     1996
9     1950
10    1953
11    1960
12    1933
13    1960
14    1932
15    1976
16    1950
17    1960
18    1937
19    1995
20    1933
21    1960
22    1960
23    1930
24    1968
25    1960
26    1967
27    2002
28    1995
29    1966
30    1920
31    1976
Name: First NFL Season, dtype: int64

In [19]:
# オブジェクトの属性のような書き方も可能
nfl_frame.Team

0              Dallas Cowboys
1           Green Bay Packers
2               Chicago Bears
3              Miami Dolphins
4     New England Patriots[b]
5             New York Giants
6              Denver Broncos
7           Minnesota Vikings
8            Baltimore Ravens
9         San Francisco 49ers
10      Indianapolis Colts[c]
11            Oakland Raiders
12        Pittsburgh Steelers
13         Kansas City Chiefs
14        Washington Redskins
15           Seattle Seahawks
16           Cleveland Browns
17       Los Angeles Chargers
18           Los Angeles Rams
19          Carolina Panthers
20        Philadelphia Eagles
21           Tennessee Titans
22              Buffalo Bills
23              Detroit Lions
24         Cincinnati Bengals
25              New York Jets
26         New Orleans Saints
27             Houston Texans
28       Jacksonville Jaguars
29            Atlanta Falcons
30          Arizona Cardinals
31       Tampa Bay Buccaneers
Name: Team, dtype: object

In [20]:
# 特定のカラムで新しいDataFrameを作る
DataFrame(nfl_frame,columns=['Team','First NFL Season,'Total Games'])

SyntaxError: invalid syntax (<ipython-input-20-6ecb25fff1c5>, line 2)

In [22]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Division'])

                       Team  First Season Total Games   Division
0            Dallas Cowboys           NaN         860   NFC East
1         Green Bay Packers           NaN       1,320  NFC North
2             Chicago Bears           NaN       1,354  NFC North
3            Miami Dolphins           NaN         784   AFC East
4   New England Patriots[b]           NaN         868   AFC East
5           New York Giants           NaN       1,289   NFC East
6            Denver Broncos           NaN         868   AFC West
7         Minnesota Vikings           NaN         854  NFC North
8          Baltimore Ravens           NaN         336  AFC North
9       San Francisco 49ers           NaN         986   NFC West
10    Indianapolis Colts[c]           NaN         950  AFC South
11          Oakland Raiders           NaN         868   AFC West
12      Pittsburgh Steelers           NaN       1,156  AFC North
13       Kansas City Chiefs           NaN         868   AFC West
14      Washington Redskins           NaN       1,186   NFC East
15         Seattle Seahawks           NaN         644   NFC West
16         Cleveland Browns           NaN         938  AFC North
17     Los Angeles Chargers           NaN         868   AFC West
18         Los Angeles Rams           NaN       1,119   NFC West
19        Carolina Panthers           NaN         352  NFC South
20      Philadelphia Eagles           NaN       1,172   NFC East
21         Tennessee Titans           NaN         868  AFC South
22            Buffalo Bills           NaN         868   AFC East
23            Detroit Lions           NaN       1,217  NFC North
24       Cincinnati Bengals           NaN         756  AFC North
25            New York Jets           NaN         868   AFC East
26       New Orleans Saints           NaN         770  NFC South
27           Houston Texans           NaN         240  AFC South
28     Jacksonville Jaguars           NaN         352  AFC South
29          Atlanta Falcons           NaN         784  NFC South
30        Arizona Cardinals           NaN       1,314   NFC West
31     Tampa Bay Buccaneers           NaN         866  NFC South

In [23]:
# 先頭だけを表示
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [24]:
#最後だけを表示
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
27,28,Houston Texans,106,134,0,0.442,2002,240,AFC South
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,AFC South
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NFC South
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NFC West
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,866,NFC South

In [28]:
# indexを使って、行を取り出せる
nfl_frame.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [29]:
# 列全体に値を代入
nfl_frame['Division']="Levi's Stadium" #文字列内に「'」があるので、全体は「”」で囲む

In [32]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,Levi's Stadium
4,5,New England Patriots[b],476,383,9,0.554,1960,868,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",Levi's Stadium
6,7,Denver Broncos,465,393,10,0.541,1960,868,Levi's Stadium
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,Levi's Stadium
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,Levi's Stadium
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,Levi's Stadium
10,11,Indianapolis Colts[c],502,441,7,0.532,1953,950,Levi's Stadium
11,12,Oakland Raiders,456,401,11,0.532,1960,868,Levi's Stadium
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",Levi's Stadium
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,Levi's Stadium
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",Levi's Stadium
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,Levi's Stadium
16,17,Cleveland Browns,462,466,10,0.498,1950,938,Levi's Stadium
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,Levi's Stadium
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",Levi's Stadium
19,20,Carolina Panthers,172,179,1,0.490,1995,352,Levi's Stadium
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",Levi's Stadium
21,22,Tennessee Titans,413,449,6,0.479,1960,868,Levi's Stadium
22,23,Buffalo Bills,400,460,8,0.465,1960,868,Levi's Stadium
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",Levi's Stadium
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,Levi's Stadium
25,26,New York Jets,392,468,8,0.456,1960,868,Levi's Stadium
26,27,New Orleans Saints,338,427,5,0.442,1967,770,Levi's Stadium
27,28,Houston Texans,106,134,0,0.442,2002,240,Levi's Stadium
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,Levi's Stadium
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,Levi's Stadium
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",Levi's Stadium
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,866,Levi's Stadium

In [35]:
# 長さが合っていれば、列への代入が可能。
nfl_frame["Division"] = np.arange(32)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,3
4,5,New England Patriots[b],476,383,9,0.554,1960,868,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",5
6,7,Denver Broncos,465,393,10,0.541,1960,868,6
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,7
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,8
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,9
10,11,Indianapolis Colts[c],502,441,7,0.532,1953,950,10
11,12,Oakland Raiders,456,401,11,0.532,1960,868,11
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",12
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,13
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",14
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,15
16,17,Cleveland Browns,462,466,10,0.498,1950,938,16
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,17
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",18
19,20,Carolina Panthers,172,179,1,0.490,1995,352,19
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",20
21,22,Tennessee Titans,413,449,6,0.479,1960,868,21
22,23,Buffalo Bills,400,460,8,0.465,1960,868,22
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",23
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,24
25,26,New York Jets,392,468,8,0.456,1960,868,25
26,27,New Orleans Saints,338,427,5,0.442,1967,770,26
27,28,Houston Texans,106,134,0,0.442,2002,240,27
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,28
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,29
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",30
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,866,31

In [36]:
# SeriesをDataFrameに追加する
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [20]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [41]:
nfl_frame['Division']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,NaN
4,5,New England Patriots[b],476,383,9,0.554,1960,868,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NaN
6,7,Denver Broncos,465,393,10,0.541,1960,868,NaN
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NaN
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,NaN
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NaN
10,11,Indianapolis Colts[c],502,441,7,0.532,1953,950,NaN
11,12,Oakland Raiders,456,401,11,0.532,1960,868,NaN
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",NaN
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,NaN
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NaN
15,16,Seattle Seahawks,325,318,1,0.505,1976,644,NaN
16,17,Cleveland Browns,462,466,10,0.498,1950,938,NaN
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868,NaN
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119",NaN
19,20,Carolina Panthers,172,179,1,0.490,1995,352,NaN
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172",NaN
21,22,Tennessee Titans,413,449,6,0.479,1960,868,NaN
22,23,Buffalo Bills,400,460,8,0.465,1960,868,NaN
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217",NaN
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756,NaN
25,26,New York Jets,392,468,8,0.456,1960,868,NaN
26,27,New Orleans Saints,338,427,5,0.442,1967,770,NaN
27,28,Houston Texans,106,134,0,0.442,2002,240,NaN
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352,NaN
29,30,Atlanta Falcons,341,437,6,0.439,1966,784,NaN
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314",NaN
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,866,NaN

In [42]:
# 列を消すことも可能
del nfl_frame['Division']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games
0,1,Dallas Cowboys,493,367,1,0.573,1960,860
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320"
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354"
3,4,Miami Dolphins,439,341,4,0.563,1966,784
4,5,New England Patriots[b],476,383,9,0.554,1960,868
5,6,New York Giants,684,572,33,0.543,1925,"1,289"
6,7,Denver Broncos,465,393,10,0.541,1960,868
7,8,Minnesota Vikings,457,387,10,0.541,1961,854
8,9,Baltimore Ravens,181,154,1,0.540,1996,336
9,10,San Francisco 49ers,522,450,14,0.537,1950,986
10,11,Indianapolis Colts[c],502,441,7,0.532,1953,950
11,12,Oakland Raiders,456,401,11,0.532,1960,868
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156"
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186"
15,16,Seattle Seahawks,325,318,1,0.505,1976,644
16,17,Cleveland Browns,462,466,10,0.498,1950,938
17,18,Los Angeles Chargers,426,431,11,0.497,1960,868
18,19,Los Angeles Rams,544,554,21,0.496,1937,"1,119"
19,20,Carolina Panthers,172,179,1,0.490,1995,352
20,21,Philadelphia Eagles,555,591,26,0.485,1933,"1,172"
21,22,Tennessee Titans,413,449,6,0.479,1960,868
22,23,Buffalo Bills,400,460,8,0.465,1960,868
23,24,Detroit Lions,544,641,32,0.460,1930,"1,217"
24,25,Cincinnati Bengals,344,408,4,0.458,1968,756
25,26,New York Jets,392,468,8,0.456,1960,868
26,27,New Orleans Saints,338,427,5,0.442,1967,770
27,28,Houston Texans,106,134,0,0.442,2002,240
28,29,Jacksonville Jaguars,155,197,0,0.440,1995,352
29,30,Atlanta Falcons,341,437,6,0.439,1966,784
30,31,Arizona Cardinals,542,732,40,0.428,1920,"1,314"
31,32,Tampa Bay Buccaneers,250,393,1,0.389,1976,866

In [45]:
# 辞書からDataFramesを作ることもできます。
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

#Show
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [46]:
# pandas.DataFrameの機能の全体は、Webで確認できます。
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True